version: '3'

services:
  nginx:
    build:
      context: "./"
      dockerfile: docker/nginx/nginx.docker
    volumes:
      - ./:/var/www
    ports:
      - "8000:80"
    links:
      - php-fpm

  php-fpm:
    build:
      context: "./"
      dockerfile: docker/php/php-fpm.docker
    volumes:
      - ./:/var/www

  mysql:
    image: mysql:8.0.23
    volumes:
      - ./storage/docker/mysql:/var/lib/mysql
    environment:
      - "MYSQL_ROOT_PASSWORD=root"
      - "MYSQL_USER=app"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_DATABASE=app"
    ports:
      - "33061:3306"
