<?xml version="1.0" encoding="utf-8"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="framework">
            <directory suffix="Test.php">./tests/framework</directory>
        </testsuite>

        <testsuite name="app">
            <directory suffix="Test.php">./tests/app</directory>
        </testsuite>
    </testsuites>
</phpunit>